/* .item {
    width:1110px
} */
@font-face {
    font-family: millenia;
    src: url(millenia/Millenia.ttf);
}
@font-face {
    font-family: rumble_brave;
    src: url(rumble_brave/rumble_brave.otf);
}
@font-face {
    font-family: swag;
    src: url(swag/swag.ttf);
}
@font-face {
    font-family: letter;
    src: url(letter/letter.ttf);
}
@font-face {
    font-family: dabrush;
    src: url(dabrush/dabrush.ttf);
}
@font-face {
    font-family: title;
    src: url(title/title.otf);
}
@font-face {
    font-family: history;
    src: url(history/history.ttf);
}
.bold1 {
    font-family: rumble_brave;
    font-size: 70px;
}
.text1 {
    font-family: letter;
    font-size: 30px;
}
.title {
    font-family: title;
    font-size: 50px;
}
.history {
    font-family: history;
    font-size: 30px;
}
.caption{
    font-family: letter;
    font-size: 20px;
}
.tablinks{
    font-family: rumble_brave;
    font-size: 50px;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 30px;
    width: 100%;
}
.tabcontent{
    font-family: letter;
    font-size:30px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000;
}

.words {
    font-size: 30px;
    font-family: dabrush; 
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail1 {
    text-align: center;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.container1 {
    position: relative;
    margin: 0 auto;
    text-align: center;

}

.container1 .content1 {
    position: absolute; /* Position the background text */
    bottom: 50%; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */

}

.container2 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-color: #6B7A8F;
    color: white;
}

.orange {
    width: 500px;
    height: 450px;
    object-fit: cover;
    margin-right: 15px;
    margin-left: 20px;

}


.container3 {
    background-color: #B56357;
    
}































